#login {
  float: right;
}
#login .login-button {
  border-radius: 35px;
  border: #E1DFDF;
  background-color: E1DFDF;
  font-size: 15px;
}

#menu {
  margin: 1% auto;
  padding: auto;
  position: relative;
  text-align: center;
  background-color: #CCE5FF;
}

#menu ul {
  margin: auto;
  list-style-type: none;
  display: inline-block;
}
#menu li {
  float: left;
  margin: 0 20px;
  text-align: center;
}
#menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#menu li a:hover {
  background-color: #CCFFE5;
  color: Blue;
}
#menu li a:active {
  color: #330066;
}
