/* login-button */
#login {
  margin: 10px 3px auto auto;
  float: right;}
#login .login-button {
  border-radius: 35px;
  border: #E1DFDF solid 1px;
  padding: 5px;
  background-color: #E1DFDF;
  font-size: 15px;
  text-decoration: none;
}

/* menu bar */
#menu {
  margin: 1.5% auto;
  position: relative;
  text-align: center;
  background-color: #CCE5FF;
}
#menu ul {
  margin: auto;
  list-style-type: none;
  display: inline-block;
}
#menu li {
  float: left;
  margin: 0 20px;
  text-align: center;
}
#menu li a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
#menu li a:hover {
  background-color: #CCFFE5;
  color: Blue;
}
#menu li a:active { color: #330066;}

/*div content */
#content {
  width: 75%;
  margin: auto;
}

/*footer*/
#bottom{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
#bottom ul{
  margin : auto;
  list-style : none;
  display: inline-block;
}
#bottom li {
  float: left;
  text-align: center;
  margin: 0 100px;
}

/* login and signup forms */

form {
  margin: auto;
  text-align: center;
  width: auto;
  padding: 5px;
}
.siginform {
  width: 50%;
  padding: 10px;
}
.sigupform {
  width: 75%;
  padding: 10px;
}
