body {
  background-color: #bef8d3;
}
h2 {
  text-align: center;
}

hr {

 margin-top : 0;
 margin-bottom: 0;
 border-top: 1px solid #60c57d;
}
/* login-button in header */
#login {
  margin: 10px 3px auto auto;
  margin-right: 20px;
  float: right;
}

#login .font {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
  color: #994d00;
  border-radius: 5px;
  background-color: #CCFFE5;
}

/* menu bar */
#menu {
  font-family: "Lucida Console", Monaco, monospace;
  margin: 3% auto 0 auto;
  position: relative;
  text-align: center;
}
#menu ul {
  margin: auto;
  list-style-type: none;
  display: inline-block;
}
#menu li {
  float: left;
  margin: 0 20px;
}
#menu li a {
  display: block;
  padding: 10px 15px 5px 15px;
  text-decoration: none;
  color: #994d00;
}
#menu li a:hover {
  background-color: #CCFFE5;
  color: #60c57d;
}
#menu li a:active { color: #33331a;}

/*div content */
#content {
  width: 75%;
  margin: auto;
}

.border{
  border-left: 1px solid #994d00;
  border-right: 1px solid #994d00;
}

.footer {
  font-family: "Lucida Console", Monaco, monospace;
  margin-top : 1.5%;
  color: #994d00;
  padding-left: 220px;
}

/* feedback */
.feedback {
  width: 40%;
  margin: auto;
}
.rateIcon {
  border-collapse: separate;
  border-spacing: 20px 0px;
}

.rateIcon td {
  padding: 0 10px;
}

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

.centerText {
  display: inline-block;;
  text-align: center;
}

.
